# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool
*.out

# Logs
*.log

# Dependency directories (remove the comment below if you are using Go modules)
vendor/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# MongoDB data dumps (if you store them locally)
dump/
